<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="FILE_INFO1" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data0/logs/spider_practice/logFileInfo1.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO2" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data0/logs/spider_practice/logFileInfo2.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--其中appender的配置表示打印到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logback为java中的包 -->
    <!--将控制包下的所有类的日志的打印，但是并没用设置打印级别，所以继承他的上级<root>的日志级别-->
    <root level="ERROR">
        <appender-ref ref="FILE_ERROR" />
    </root>

    <!--com.x.mainTest.LogbackDemo：类的全路径 -->
    <!--设置addtivity为false，将此loger的打印信息不向上级传递；-->
    <logger name="com.x.demo.util" level="INFO" additivity="false">
        <appender-ref ref="FILE_INFO1"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </logger>

    <logger name="com.x.demo.service" level="INFO" additivity="false">
        <appender-ref ref="FILE_INFO2"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </logger>

</configuration>
